certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
idna==3.19
ml_dtypes==0.6.0
numpy==2.4.6
onnx==1.22.0
opencv-python==5.0.0.93
openvino==2026.3.1
openvino-telemetry==2025.2.0
pillow==12.3.0
protobuf==7.36.1
requests==2.34.2
tqdm==4.70.1
typing_extensions==4.16.0
urllib3==2.7.0
